body {
  background-image: url("/images/category-picture_3_optimized.png");

  background-repeat: repeat-y;
  background-color: #7a8876;
  font-family: "Inria-serif";
  background-attachment: fixed;
}
html,
body {
  min-height: 100%;
}
footer {
  background-color: black;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 36px;
  width: 100%;
  text-align: center;
  display: inline;
}

p {
  color: white;
}
.non-white-text {
  color: rgb(0, 0, 0);
}

.openPopup {
  all: unset;
  cursor: pointer;
}
.slider-wrapper {
  position: relative;
  overflow: hidden; /* BITNO: da se vidi samo deo sledećeg */
}
/*
.slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;

  padding-right: 120px; 
}


.slider::-webkit-scrollbar {
  display: none;
}*/

#popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: none; /* pali se JS-om */
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.popup {
  position: relative;
  width: 40em;
  max-height: 85vh;

  padding: 24px;
  background: #fff;
  border-radius: 12px;

  display: flex;
  gap: 24px;

  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
.popup {
  pointer-events: auto;
}

#popupOverlay {
  pointer-events: auto;
}

/* X dugme */
.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.navbar {
  display: flex;
  border-radius: 25px;
  justify-content: space-between;

  font-style: normal;
  font-weight: 400;
  z-index: 3;
  width: 1000px;
  height: 60px;
  color: white;
  background-color: aliceblue;
  align-items: center;
  background-color: rgb(240, 248, 255, 0.4);
  margin: auto;
}
nav {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  gap: 30px;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  color: white;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 10px; /* zaobljen pravougaonik */
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.arrow.left {
  left: 12px;
}

.arrow.right {
  right: 12px;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.05);
}
.navbar img {
  width: 100%;
}
a {
  text-decoration: none;

  margin: 5px;
  pointer-events: auto;
  /* Ili block ako treba */
  cursor: pointer;
  color: aliceblue;
}

nav a {
  display: inline-block;
  padding: 8px 16px; /* proširuje pozadinu oko teksta */
}

nav a:hover {
  background-color: #696c68;
  background-size: cover;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.categories-list .dropdown-content:hover {
  border-radius: 0%;
}

.categories-list {
  position: relative;
  display: inline-block;
}
.title {
  margin-left: 170px;
  font-size: 34px;
}
.img-category {
  width: 18em;
  height: 18em;
  object-fit: cover;
  display: block;
}

.img-cat {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
  flex-wrap: nowrap; /* 🔑 najbitnije */
  overflow-x: auto;
}
.img-cat::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}
.img1-cat {
  width: 18em;
  height: 18em;
  background-color: #9ca699;
  border-radius: 40px;
  overflow: hidden;
  min-width: 260px; /* VAŽNO */
  flex-shrink: 0;
  margin-top: 5px;
}

.img1-cat img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #59493e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.categories-list:hover .dropdown-content {
  display: block;
}
@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}
